<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733956661156-ih6idqua6i2issefm6cst57gmh7e3smh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733956661156-ih6idqua6i2issefm6cst57gmh7e3smh</string>
	<key>API_KEY</key>
	<string>AIzaSyDvEv-uwB4c4tadu5ug1oiLjtSB5JtEDkI</string>
	<key>GCM_SENDER_ID</key>
	<string>733956661156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-3650a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-3650a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733956661156:ios:3c57a3aba88f3d3791eb31</string>
</dict>
</plist>